<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.shirodemo.dao.PermissionMapper">

    <resultMap id="permissionResultMap" type="com.demo.shirodemo.entity.Permission">
        <result column="id" property="id" jdbcType="DECIMAL"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectPermissionByRoleId" parameterType="java.lang.Integer" resultMap="permissionResultMap">
        SELECT * FROM auth_resource t WHERE t.ID IN (SELECT a.RESOURCE_ID FROM auth_role_resource a WHERE a.ROLE_ID=#{roleId})
    </select>

</mapper>
